/* Als ik in Background.css wijzig dan wordt voor alle pages gewijzigd, wijziging moet alleen plaats vinden in GamePage. */
/* .background {
  object-fit: cover;
} */

.score {
  color: white;
}

.feedback {
  color: white;
}

.qoute {
  color: white;
}

.selectedMember {
  color: white;
}

.correctMemeber {
  color: white;
}

.questionTried {
  color: white;
}
