/*Home Page*/

#homePage {
  background-image: url("../img/bts.png");
}

#quotes {
  padding: 20px;
  /*color: #8E64C6;*/
  background: rgba(0, 0, 0, 0.5);
}

/* #uploadPage {
  background-image: url(../img/armyBomb.png);
} */

/*hij doet niet!*/
/* #gamePage {
  background-image: url("../img/natures.jpg");
} */
