#quotesPage {
  background-image: url(../img/luna1.png);
}
h1 {
  text-align: center;
  text-shadow: -1px -1px 0 #232323, 1px -1px 0 #232323, -1px 1px 0 #232323,
    1px 1px 0 #232323;
}
h2 {
  text-shadow: -1px -1px 0 #232323, 1px -1px 0 #232323, -1px 1px 0 #232323,
    1px 1px 0 #232323;
}
