.page {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100%;
  background-color: #232323;
  min-height: 100vh;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
}

/* Hoe kan ik voor zorgen dat component Formwrapper overschrijft background h2 niet? */
h2 {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}
